# Controller connection settings
username=ubnt
password=ubnt
baseurl=https://unifi:8443
site=default # site=692ccbzc can be found from the dashboard URL: https://unifi.example.com/manage/site/692ccbzc/dashboard